* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid greenyellow; */
    /* cursor:pointer; */
}

body {
    background-color: #1a1d24;
    font-family: 'Cairo', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    /* overflow-x: hidden; */
    cursor:default;

}

html {
    font-size: 12px;
    /* overflow-x: hidden; */
}

@media screen and (min-width: 750px) {
    .text__container {
        width: 94%;
        /* height: 100vh; */
        /* background-color: rgb(124, 124, 124); */
        margin: 80px auto 0 auto;
    }
}